<span class="pn-heading-1">Messages module example</span>
<pn-messages></pn-messages>

<button class="pn-button pn-button--primary pn-button--small" (click)="showMessage()">Show message</button>
<button class="pn-button pn-button--secondary pn-button--small" (click)="showMessage()">Show message</button>
